body{
    background-color: #161226;

}
.banner {
    /* border: black solid 0.5px; */
    /* display: flex; */
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 5%;

    /* overflow: hidden; */
}

.test {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    color: #F2B705;
    font-size: 10vw;
    line-height: 1.1em;
    outline: none;
    text-align: center;
    user-select: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5%;
    transform: rotate(10deg) skewX(20deg);
    text-shadow: -1px -1px 1px #000000,
        -2px 2px #000000,
        1px -3px 3px #000000,
        -4px 4px rgb(122, 122, 118),
        -5px 5px rgb(122, 122, 118),
        -6px 6px rgb(122, 122, 118),
        -7px 7px rgb(122, 122, 118),
        -8px 8px rgb(122, 122, 118),
        -9px 9px #000000,
        -10px 10px rgb(122, 122, 118),
        -11px 11px rgb(122, 122, 118),
        -12px 12px rgb(122, 122, 118),
        -13px 13px rgb(122, 122, 118),
        -14px 14px rgb(122, 122, 118),
        -15px 15px #000000,
        -20px 20px rgba(0, 0, 0, 0.2);
    ;
}


/* .card{
background-color: #F2B705;  
} */

/* h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5%;
} */